<!-- Footer -->
<footer class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>
                    Copyright &copy; 2019 All Rights Reserved By <br><span>Davit Gigauri : NodeJS Full-Stack Developer</span>
                </p>
            </div>
        </div>
    </div>

    <!-- Back to Top -->
    <a href="#<%=activeNav%>" id="back-to-top" class="btn btn-sm btn-yellow btn-back-to-top smooth-scroll">
        <i class="fas fa-angle-double-up"></i>
    </a>

</footer>