<!-- Home -->
<section id="home">

    <!-- Background Video -->
    <video id="home-bg-video" poster="video/solo.jpg" autoplay loop muted>
        <source src="../videos/solo.mp4" type="video/mp4">
        <source src="../videos/solo.ogv" type="video/ogg">
        <source src="../videos/solo.webm" type="video/webm">
    </video>

</section>
<!-- Home Ends -->

<!-- Portfolio -->
<section id="portfolio">

    <div class="content-box-md">

        <div class="container">
            <div class="row align-items-center">
                <!-- Vertical Heading -->
                <div class="col-lg-6 col-12">

                    <div class="vertical-heading wow slideInLeft" data-wow-duration="1s">
                        <h5>Find Out Work</h5>
                        <h2>Our <br>Amazing <strong>Work</strong></h2>
                    </div>

                </div>

                <!-- Isotope Filters-->
                <div class="col-lg-6 col-12 wow slideInRight" data-wow-duration="2s">
                    
                    <div id="isotope-filters" class="d-flex justify-content-center">
                        <button  class="btn active" data-filter="*"><span>All</span></button>
                        <button  class="btn" data-filter=".logo"><span>Logo</span></button>
                        <button  class="btn" data-filter=".web"><span>Web</span></button>
                        <button  class="btn" data-filter=".mobile"><span>Mobile</span></button>
                        <button  class="btn" data-filter=".desktop"><span>Desktop</span></button>
                    </div>

                </div>
            </div>
        </div>

        <!-- Portfolio Items Wrapper-->
        <section id="portfolio-wrapper">

            <div class="container-fluid">
                <div class="row no-gutters isotope wow fadeIn" data-wow-duration="3s">

                    <div class="col-md-3">
                        <!-- Portfolio Item 01 -->
                        <div class="portfolio-item logo">
                            <a href="images/portfolio/001.jpg">
                                <img src="images/portfolio/001.jpg" class="img-fluid">

                                <div class="portfolio-item-overlay">
                                    <div class="portfolio-item-details text-center">
                                        <!-- Item Header -->
                                        <h3>Logo</h3>

                                        <!-- Item Strips -->
                                        <span></span>

                                        <!-- Item Description -->
                                        <p>Desktop, Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-3 web">
                        <!-- Portfolio Item 02 -->
                        <div class="portfolio-item">
                            <a href="images/portfolio/002.jpg">
                                <img src="images/portfolio/002.jpg" class="img-fluid">

                                <div class="portfolio-item-overlay">
                                    <div class="portfolio-item-details text-center">
                                        <!-- Item Header -->
                                        <h3>Logo</h3>

                                        <!-- Item Strips -->
                                        <span></span>

                                        <!-- Item Description -->
                                        <p>Desktop, Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-3 desktop">
                        <!-- Portfolio Item 03 -->
                        <div class="portfolio-item">
                            <a href="images/portfolio/003.jpg">
                                <img src="images/portfolio/003.jpg" class="img-fluid">

                                <div class="portfolio-item-overlay">
                                    <div class="portfolio-item-details text-center">
                                        <!-- Item Header -->
                                        <h3>Logo</h3>

                                        <!-- Item Strips -->
                                        <span></span>

                                        <!-- Item Description -->
                                        <p>Desktop, Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-3 logo web">
                        <!-- Portfolio Item 04 -->
                        <div class="portfolio-item">
                            <a href="images/portfolio/004.jpg">
                                <img src="images/portfolio/004.jpg" class="img-fluid">

                                <div class="portfolio-item-overlay">
                                    <div class="portfolio-item-details text-center">
                                        <!-- Item Header -->
                                        <h3>Logo</h3>

                                        <!-- Item Strips -->
                                        <span></span>

                                        <!-- Item Description -->
                                        <p>Desktop, Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-3 mobile dektop web">
                        <!-- Portfolio Item 05 -->
                        <div class="portfolio-item">
                            <a href="images/portfolio/005.jpg">
                                <img src="images/portfolio/005.jpg" class="img-fluid">

                                <div class="portfolio-item-overlay">
                                    <div class="portfolio-item-details text-center">
                                        <!-- Item Header -->
                                        <h3>Logo</h3>

                                        <!-- Item Strips -->
                                        <span></span>

                                        <!-- Item Description -->
                                        <p>Desktop, Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-3 web">
                        <!-- Portfolio Item 06 -->
                        <div class="portfolio-item">
                            <a href="images/portfolio/006.jpg">
                                <img src="images/portfolio/006.jpg" class="img-fluid">

                                <div class="portfolio-item-overlay">
                                    <div class="portfolio-item-details text-center">
                                        <!-- Item Header -->
                                        <h3>Logo</h3>

                                        <!-- Item Strips -->
                                        <span></span>

                                        <!-- Item Description -->
                                        <p>Desktop, Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-3 logo">
                        <!-- Portfolio Item 07 -->
                        <div class="portfolio-item">
                            <a href="images/portfolio/007.jpg">
                                <img src="images/portfolio/007.jpg" class="img-fluid">

                                <div class="portfolio-item-overlay">
                                    <div class="portfolio-item-details text-center">
                                        <!-- Item Header -->
                                        <h3>Logo</h3>

                                        <!-- Item Strips -->
                                        <span></span>

                                        <!-- Item Description -->
                                        <p>Desktop, Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-3 mobile dektop">
                        <!-- Portfolio Item 08 -->
                        <div class="portfolio-item">
                            <a href="images/portfolio/008.jpg">
                                <img src="images/portfolio/008.jpg" class="img-fluid">

                                <div class="portfolio-item-overlay">
                                    <div class="portfolio-item-details text-center">
                                        <!-- Item Header -->
                                        <h3>Logo</h3>

                                        <!-- Item Strips -->
                                        <span></span>

                                        <!-- Item Description -->
                                        <p>Desktop, Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </section>

    </div>

</section>

<!-- Testimonials -->
<section id="testimonials">

    <div class="container">
        <div class="row">

            <div class="col-lg-4 wow slideInLeft">
                <div class="vertical-heading wow fadeInLeftBig">
                    <h5>Who We Are</h5>
                    <h2>What Our<br><strong> Customers</strong> Say</h2>
                </div>
            </div>

            <div class="col-lg-8 wow fadeIn" data-wow-duration="2s">
                <div id="testimonial-slider" class="owl-carousel">

                    <!-- Testimonial 01 -->
                    <div class="testimonial">
                        <div class="row">

                            <div class="col-md-6 col-12 d-flex justify-content-center">
                                <h3>Quality Support</h3>
                            </div>

                            <div class="col-md-6 col-12 d-flex justify-content-center">
                                <div class="stars text-right">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>

                        </div>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium veritatis quis,
                                voluptates nam aliquid perspiciatis harum adipisci fuga eos sequi dicta libero, cupiditate
                                eligendi nisi eaque magnam. Reprehenderit, accusamus aperiam.
                        </p>

                        <div class="author">
                            <div class="row">

                                <div class="col-md-3 col-12 d-flex justify-content-center">
                                    <img src="images/testimonial/client-1.jpg" class="img-fluid rounded-circle" alt="">
                                </div>

                                <div class="col-md-9 col-12 d-flex justify-content-center">
                                    <div class="author-name-des">
                                        <p>Joq Martin</p>
                                        <p>Senior Developer</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <!-- Testimonial 02 -->
                    <div class="testimonial">
                        <div class="row">

                            <div class="col-md-6 col-12 d-flex justify-content-center">
                                <h3>Quality Support</h3>
                            </div>

                            <div class="col-md-6 col-12 d-flex justify-content-center">
                                <div class="stars text-right">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>

                        </div>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium veritatis quis,
                                voluptates nam aliquid perspiciatis harum adipisci fuga eos sequi dicta libero, cupiditate
                                eligendi nisi eaque magnam. Reprehenderit, accusamus aperiam.
                        </p>

                        <div class="author">
                            <div class="row">

                                <div class="col-md-3 col-12 d-flex justify-content-center">
                                    <img src="images/testimonial/client-2.jpg" class="img-fluid rounded-circle" alt="">
                                </div>

                                <div class="col-md-9 col-12 d-flex justify-content-center">
                                    <div class="author-name-des">
                                        <p>Joq Martin</p>
                                        <p>Senior Developer</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <!-- Testimonial 03 -->
                    <div class="testimonial">
                        <div class="row">

                            <div class="col-md-6 col-12 d-flex justify-content-center">
                                <h3>Quality Support</h3>
                            </div>

                            <div class="col-md-6 col-12 d-flex justify-content-center">
                                <div class="stars text-right">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>

                        </div>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium veritatis quis,
                                voluptates nam aliquid perspiciatis harum adipisci fuga eos sequi dicta libero, cupiditate
                                eligendi nisi eaque magnam. Reprehenderit, accusamus aperiam.
                        </p>

                        <div class="author">
                            <div class="row">

                                <div class="col-md-3 col-12 d-flex justify-content-center">
                                    <img src="images/testimonial/client-3.jpg" class="img-fluid rounded-circle" alt="">
                                </div>

                                <div class="col-md-9 col-12 d-flex justify-content-center">
                                    <div class="author-name-des">
                                        <p>Joq Martin</p>
                                        <p>Senior Developer</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>

</section>

<!-- Stats Section -->
<section id="stats">
    <div class="content-box-md">
        <div class="container">
            <div class="row">

                <div class="col-md-12 wow slideInLeft">

                    <div class="vertical-heading">
                        <h5>Fun Facts</h5>
                        <h2>We Deliver<br><strong> Excellent</strong> Services</h2>
                    </div>

                </div>

            </div>

            <div class="row wow fadeInUp" data-wow-duration="2s">

                <div class="col-md-3 col-6">
                    <!-- Stats Item 01 -->
                    <div class="stats-item text-center">
                        <i class="fas fa-chart-line"></i>
                        <h3 class="counter">25</h3>
                        <p>Year Experience</p>
                    </div>
                </div>

                <div class="col-md-3 col-6">
                    <!-- Stats Item 02 -->
                    <div class="stats-item text-center">
                        <i class="fab fa-codepen"></i>
                        <h3 class="counter">476</h3>
                        <p>Projects Done</p>
                    </div>
                </div>

                <div class="col-md-3 col-6">
                    <!-- Stats Item 03 -->
                    <div class="stats-item text-center">
                        <i class="fas fa-trophy"></i>
                        <h3 class="counter">115</h3>
                        <p>Awards Received</p>
                    </div>
                </div>

                <div class="col-md-3 col-6">
                    <!-- Stats Item 04 -->
                    <div class="stats-item text-center">
                        <i class="fas fa-users"></i>
                        <h3 class="counter">276</h3>
                        <p>Happy Clients</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- Blog -->
<section id="blog">
    <div class="content-box-md">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-5 wow slideInLeft">

                    <div id="blog-left">

                        <div class="vertical-heading">
                            <h5>Latest News</h5>
                            <h2>Latest<br> From <strong>Blog</strong></h2>
                        </div>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Nostrum ipsum facere minima iure animi cumque voluptas 
                            optio quisquam reprehenderit, minus est eum eius vitae! 
                            Minima repellendus dignissimos est doloremque consequatur.
                        </p>

                        <div id="blog-btn">
                            <a class="btn btn-general btn-yellow" href="">View All Posts</a>
                        </div>

                    </div>

                </div>

                <div class="col-lg-7 wow fadeInUp" data-wow-duration="3s">

                    <div class="row">

                        <div class="col-lg-6">

                            <!-- Blog Post 01 -->
                            <div class="blog-post">
                                <h4>Your Post Title</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Nostrum ipsum facere minima iure animi.Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Nostrum ipsum facere minima iure animi.
                                </p>
                                <a href="">Read More</a>

                                <div class="post-meta d-flex">

                                    <div class="col-md-6">
                                        <p><img src="images/blog/user-1.jpg" class="img-fluid"> Davit Gigauri</p>
                                    </div>

                                    <div class="col-md-6">
                                        <p class="text-right">October 02,2019</p>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6">

                            <!-- Blog Post 02 -->
                            <div class="blog-post">
                                <h4>Your Post Title</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Nostrum ipsum facere minima iure animi.Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Nostrum ipsum facere minima iure animi.
                                </p>
                                <a href="">Read More</a>

                                <div class="post-meta d-flex">

                                    <div class="col-md-6">
                                        <p><img src="images/blog/user-2.jpg" class="img-fluid"> Davit Gigauri</p>
                                    </div>

                                    <div class="col-md-6">
                                        <p class="text-right">October 02,2019</p>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</section>



<% if(success) { %>
    <!-- Modal -->
    <div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="font-weight: bold;" id="exampleModalCenterTitle">Administration - SOLO</h5>
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex">
                    <div class="col-6">
                        <img src="/images/modal_picture/Registration-icon.png" style="width: 150px; height: 150px;" class="img-fluid">
                    </div>
                    <div class="col-6"">
                        <p style="margin-top: 20px;">გილოცავთ! თქვენ წარმატებით დარეგისტრირდით ჩვენს ვებ გვერძე.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="/"  class="btn btn-warning">Thank's</a>
                </div>
            </div>
        </div>
    </div>
<% } %>